<div class="bs-sidebar hidden-print affix well" role="complementary">
    <!-- ul class="nav bs-sidenav">
        {% for nav_item in nav %}
            <li class="first-level active"><a href="{{ nav_item.url | url }}">{{ nav_item.title }}</a></li>
        {% endfor %}
    </ul -->
    {% if config['custom_sidebar'] %}
    <div class="navbar-default extra-nav-container">
        {% if config['custom_sidebar']['image'] %}
        <img src="/{{ config['custom_sidebar']['image'] }}" alt="sidebar-image" />
        <br>
        <h4>{{ config['site_author'] }}</h4>
        {% endif %}

        <!-- Custom sidebar text section -->
        {% if config['custom_sidebar']['text'] %}
            <p>{{ config['custom_sidebar']['text'] }}</p>
        {% endif %}

        <!-- Newsletter section -->
        <p>
        We have a newsletter!
        <button class="ml-onclick-form" onclick="ml('show', 'C2KJ2q', true)"><i class="fas fa-envelope-open" style="color: darkslategray; padding-right: 5px;"></i>Subscribe here!</button>
        </p>

        <!-- Custom announcement section -->
        {% if config['custom_sidebar']['announcement_text'] %}
            <p style="margin-bottom: 10px"><i class="fas fa-info-circle" style="color: lightblue; padding-right: 5px"></i>
            {{ config['custom_sidebar']['announcement_text'] }}
            </p>
        {% endif %}

    </div>
    {% endif %}
</div>


