.extra-nav-container p {
    margin: 15px 15px 0px 15px;
    background-color: #343838;
    color: #FFF;
    font-weight: 300;
}

.extra-nav-container img {
    width: 50%;
    padding-left: 15px;
    padding-top: 15px;
}

.extra-nav-container h4 {
    color: #FFF;
    padding-left: 15px;
}

.bs-sidebar.well {
    border: 1px solid #343838;
}

.sidebar-subscribe-section {
    padding: 10px;
    background-color: #343838;
    color: #FFF;
    font-weight: 300;
}

.book-cover img {
    width: 20%;
}

.share-button {
    padding-left: 20px;
    padding-top:6px;
}
